{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>BASE</title>

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/main.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/92e551cba2.js" crossorigin="anonymous"></script>
  

  <style>
    footer {
       display: flex;
       padding: 20px;
       background-color: rgb(0, 0, 0);
       color: white;
       text-align: center;
       justify-content: center;
    }
    .back-to-home {
      text-decoration: none;
      color: white;
    }
  </style>
    
</head>

 <body> 
  
  {% block main_content %}
  {% endblock %}	
   
  <footer class="container-fluid footer">
     <div class=""> 
       <a class="back-to-home"href="{% url 'home' %}">Back To Home</a>
    </div>
  </footer>
  
  




  <script type="text/javascript" src="{% static 'static/script.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>