{% extends 'cloneapp/base2.html' %}
{% block main_content %}
{%load static %}

<style>
  * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.banner {
  height: 60vh;
  width: 100%;
  position: relative;
  
}

.banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: middle;
     object-position: middle;
}

.company-header {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  color: white;
  padding: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 25px;
  background: linear-gradient(to bottom, rgba(20, 83, 255, 0.4),rgba(0, 0, 0, 0.4));
}

.laptop-brand img {
  width:300px;
  object-fit: contain;
}

.laptop-brand, .laptop-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px 0px 0px;
}
.laptop-subs{
  padding: 0px;
}

.brand-description h3, .brand-description h3 a {
  font-size: 36px;
  padding-bottom: 10px;
  color: rgb(197, 0, 105);
  transition: all 0.2s ease-in;
}

.brand-description h3:hover, .brand-description h3 a:hover{ 
  color: rgb(166, 71, 255);
  transform: scale3d(1.1,1.1,1);
}
  
.subs-description{
  margin-top: -50px;
}
.brand-description p, .subs-description p {
  padding: 20px 0px;
  font-size: 20px;
}

.laptop-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px);
      grid-template-columns: repeat(3, 250px);
}

.laptop-gallery img {
  padding: 5px;
}


@media (max-width: 1024px) {
  .banner {
    height: 40vh;
  }
  .laptop-brand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .laptop-subs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .brand-description, .subs-description {
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: left;
          transform-origin: left;
    -webkit-transform: scaleX(1);
          transform: scaleX(1);
  }
  .laptop-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .subs-description{
    margin-top: 10px;
  }
}

/*# sourceMappingURL=laptopstyle.css.map */
</style>

<main>
  <div id="progressbar"></div>
  <div id="scrollPath"></div>
  <div class="banner">
    <img src='{% static "cloneapp/keyboard banner2.jpg" %}' alt="keyboard Photo">

    <div class="company-header">
      <h1>KEYBOARDS</h1>
      <h2>Red-Gear | Cosmic -Byte | Logitech | Corsair</h2>
    </div>
  </div>
 {% for produc in keyboard %}
  <div class="laptop-brand">
    <div class="brand-description">
      <h3><a href="{% url 'detail' produc.id %}">{{produc.name}}</a></h3>
    </div>
    {% if produc.image.url %}
    <img src="{{produc.image.url}}" alt="headphone image">
    {% endif %}
  </div>
  <div class="laptop-subs">
    <div class="subs-description">
      <h3>Product Description</h3>
      <p>{{produc.short_description}}</p>
      {% if produc.discount %}
      <h3>Off {{produc.discount}}%</h3>
      <h2>Price</h2>
      <h4>{{produc.price}}</h4>
      <h4>{{produc.discounted_price}}</h4>
      {% else %}
       <h2>Price</h2>
      <h4>{{produc.price}}></h4>
      {% endif %}
      
      <form method="POST" action='{% url "cart" %}'>
        {% csrf_token %}
        <input type="hidden" name="name" value="{{produc.name}}">
        <input type="hidden" name="price" value="{{produc.price}}">
        <button type='submit' class='add-to-cart'>Add to cart</button>
      </form>
    </div>
    <div class="laptop-gallery">
      <img src="./home assets/Laptops page main.jpg" alt="">
      <img src="./home assets/Laptops page main.jpg" alt="">
      <img src="./home assets/Laptops page main.jpg" alt="">
      <img src="./home assets/Laptops page main.jpg" alt="">
      <img src="./home assets/Laptops page main.jpg" alt="">
      <img src="./home assets/Laptops page main.jpg" alt="">
    </div>
  </div>
  {% endfor %}
  
</main>
{% endblock %}
