{% extends 'cloneapp/base.html' %}
{% block main_content %}
<style>
	*{
		list-style: none;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	.nav-link{
      color: white;
		}
	.container{
		display: flex;
		flex-direction: column;
		width: 50%;
		margin: 0 auto;
		padding: 50px;
		box-shadow: 0px 0px 10px black;
		border-radius: 20px;
	}
	.btn-primary{
		border-color: transparent !important;
	}

	.signup-button{
		margin-top: 40px;
		width:60%;
		background:linear-gradient(to right,white, black) ;
		color: white;
		text-shadow: 5px 5px 5px black;
	}
	.signup-button:hover{
		background:linear-gradient(to right,aquamarine, white) ;
		color: black;
		text-shadow: 0px 3px 3px aqua;
		
	}
	.already-last-line{
		margin-top: 50px;
		color: white;
	}
	.already-last-line a{
		color: rgb(39, 241, 197);
	}
	.login-form-header{
		color: white;
		font-weight: bold;
		text-shadow: 0px 8px 10px black;
		text-align: center;
		margin-bottom: 30px;
	}

</style>

<div class="container">
	<h1 class="login-form-header">LOG IN</h1>
	<div class="form-group">
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}	
		
			<button class="btn btn-primary signup-button" type="submit">Login</button>	
		</form>
	</div>

	<h6 class='already-last-line'>
		Create an account? 
		<a href="{% url 'signupuser' %}">Sign Up</a>
	</h6>
</div>

{% endblock %}
